[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/default/start/vim-repeat"]
	path = pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/default/start/vim-sleuth"]
	path = pack/default/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/default/start/vim-surround"]
	path = pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/default/start/targets.vim"]
	path = pack/default/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "pack/default/start/editorconfig-vim"]
	path = pack/default/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/ale/start/ale"]
	path = pack/ale/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/tex/start/vimtex"]
	path = pack/tex/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/python/start/jedi-vim"]
	path = pack/python/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
