snippet #! "Python3 Shebang" b
#!/usr/bin/env python3
${0}
endsnippet

snippet __main__ "main block" b
if __name__ == '__main__':
	${0}
endsnippet

snippet numpy "import as np" b
import numpy as np
${0}
endsnippet

snippet pyplot "import as plt" b
from matplotlib import pyplot as plt
${0}
endsnippet

snippet texrc "LaTeX style matplotlib settings" b
plt.rc("text", usetex=True)
plt.rc("font", family="serif")
plt.rcParams["text.latex.preamble"] = [r"\usepackage{siunitx}"]
${0}
endsnippet
